{% extends "base.html" %}
{% block title %}{{pic.title}}{% endblock %}
{% block content %}
<p>
From {{pic.submitter}}<br>
{{pic.caption}}
</p>


<div class="container special">
    <div class="jumbotron">
        <div class="fullarea" id="jigsawContainer" style="height:768px"></div>
    </div>
</div>

    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.1.min.js"></script>
    <script defer="defer">
      function loadImage(source, callback) {
        var image;
        image = new Image();
        image.onload = function() {
            callback(image);
          };
        image.src = source;
      }

      var GRACE_RANGE = 50;

      function isNearFit(a) {
        var ax = a.getX();
        var ay = a.getY();

        if(ax > a.xFit - GRACE_RANGE && ax < a.xFit + GRACE_RANGE && ay > a.yFit - GRACE_RANGE && ay < a.yFit + GRACE_RANGE) {
          return true;
        }
        else {
          return false;
        }
      }

      function drawBackground(background, image, scale) {
        var bgImage = new Kinetic.Rect({
                x: 0,
                y: 0,
                brightness: 0,
                blurRadius: 0,
                width: jigsawContainer.clientWidth,
                height: jigsawContainer.clientHeight,
          fillPatternImage: image,
          fillPatternOffset: {x:0, y:0},
          fillPatternScale: {x:scale, y:scale},
          fillPatternRepeat: "no-repeat",
          stroke: 'black',
          strokeWidth: 4,
          draggable: true
        });
        background.add(bgImage);

      }



      function initStage(image) {


        // calc scale
        var sourceAspectRatio = image.width/image.height;
        var targetAspectRatio = jigsawContainer.clientWidth / jigsawContainer.clientHeight;

        var wScale = jigsawContainer.clientWidth / image.width;
        var hScale = jigsawContainer.clientHeight / image.height;
        var scale;
        var stage;
        if (hScale > wScale) {
            stage = new Kinetic.Stage({
              container: 'jigsawContainer',
              width: jigsawContainer.clientWidth ,
              height: jigsawContainer.clientWidth * (image.height/image.width)
            });
            scale = wScale;
        } else {
            var scaledWidth = jigsawContainer.clientHeight * (image.width/image.height);
            stage = new Kinetic.Stage({
              container: 'jigsawContainer',
              width: scaledWidth ,
              height: jigsawContainer.clientHeight
            });
            scale = hScale;
        }

        var background = new Kinetic.Layer();
        var puzzleLayer = new Kinetic.Layer();

        drawBackground(background, image, scale);

        stage.add(background);

        stage.toDataURL({
            callback: function (dataURL){
                //outerStage.clear();

                var img = new Image();
                img.src = dataURL;
                img.onload = function () {
                    createPuzzlePieces(img,10, puzzleLayer);
                    setTimeout(
                        function(){
                            background.hide();
                            stage.draw();
                        }
                    ,3000)
                }
            }
        });
        stage.add(puzzleLayer);

      }

      function createPuzzlePieces(image, maxPieces, layer) {
        var area = image.width * image.height;
        var areaPiece = area / maxPieces;
        var pieceWidth = Math.floor(Math.sqrt(areaPiece)) + 1;


        var xPixel = 0;
        var yPixel = 0;
        while (yPixel < image.height - (pieceWidth/3) && xPixel < image.width - (pieceWidth/3)) {

            var puzzlePiece = new Kinetic.Rect({
                x: 0,
                y: 0,
                brightness: 0,
                blurRadius: 0,
                width: pieceWidth,
                height: pieceWidth,
                fillPatternImage: image,
                fillPatternOffset: {x:xPixel, y:yPixel},
                stroke: 'black',
                strokeWidth: 4,
                draggable: true
            });

            puzzlePiece.lockedIn = false;

            puzzlePiece.xFit = xPixel;
            puzzlePiece.yFit = yPixel;
            puzzlePiece.cache();
            puzzlePiece.drawHitFromCache();
            puzzlePiece.filters([
              Kinetic.Filters.Blur,
              Kinetic.Filters.Brighten
            ]);

            // on dragstart move to top and redraw
            puzzlePiece.on('dragstart', function() {
              this.moveToTop();
              layer.draw();
            });

            // glow on mouseover
            puzzlePiece.on('mouseover touchstart', function() {
                if (!this.lockedIn) {
                    this.brightness(0.2);
                    this.draw();
                    document.body.style.cursor = 'pointer';
                }
            });
            // normal on mouseout
            puzzlePiece.on('mouseout touchend', function() {
                if (!this.lockedIn) {
                    this.brightness(0);
                    this.draw();
                    document.body.style.cursor = 'default';
                }
            });

            // on drag change pointer
            puzzlePiece.on('dragmove', function() {
              document.body.style.cursor = 'pointer';
            });

            puzzlePiece.on('dragend', function() {
              if(isNearFit(this)) {
                this.setPosition({x:this.xFit, y:this.yFit});
                this.brightness(0);
                this.moveToBottom();
                layer.draw();

//                if(++score >= 4) {
//                  var text = 'You win! Enjoy your booty!'
//                  drawBackground(background, images.beach, text);
//                }

                  this.setDraggable(false);
                  this.lockedIn = true;
              }
            });

            layer.add(puzzlePiece);

            xPixel += pieceWidth;
            if (xPixel > image.width) {
                xPixel = 0;
                yPixel += pieceWidth;
            }

        }


      }

      loadImage('/image/{{image_key}}', initStage);


    </script>




    <div class='pictags'>
        Tags:
        {% for tag in pic.tags %}
        <a href='/search?q={{tag}}'>{{tag}}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <a href='/album/{{pic.album.key}}'>Back to album</a>




{% endblock %}