{% extends "base.html" %}
{% block title %}{{pic.title}}{% endblock %}
{% block content %}

<div class="jumbotron">
  <h1>{{pic.title}}</h1>
  <h2>from {{pic.submitter}}</h2>

<div class='picview'>
  <img src='/image/{{image_key}}'>
</div>
<div class='piccaption'>
  {{pic.caption}}
</div>
<div class='pictags'>
  Tags:
  {% for tag in pic.tags %}
  <a href='/search?q={{tag}}'>{{tag}}</a>{% if not forloop.last %},{% endif %}
  {% endfor %}
</div>
<a href='/album/{{pic.album.key}}'>Back to album</a>

  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>


{% endblock %}
