{% extends "base.html" %}
{% block title %}{{pic.title}}{% endblock %}
{% block content %}
<p>
From {{pic.submitter}}<br>
{{pic.caption}}
</p>


<div class="container special">
    <div class="jumbotron">
        <div class="fullarea" id="jigsawContainer" style="height:768px"></div>
    </div>
</div>

    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.1.min.js"></script>
    <script defer="defer">
      function loadImage(source, callback) {
        var image;
        image = new Image();
        image.onload = function() {
            callback(image);
          };
        image.src = source;
      }

      var DEVIATION_RATE = 0.30;

      function isNearFit(a, deviation) {
        var ax = a.getX();
        var ay = a.getY();

        if(ax > a.xFit - deviation && ax < a.xFit + deviation && ay > a.yFit - deviation && ay < a.yFit + deviation) {
          return true;
        }
        else {
          return false;
        }
      }

      function drawBackground(background, image, scale) {
        var bgImage = new Kinetic.Rect({
                x: 0,
                y: 0,
                brightness: 0,
                blurRadius: 0,
                width: jigsawContainer.clientWidth,
                height: jigsawContainer.clientHeight,
          fillPatternImage: image,
          fillPatternOffset: {x:0, y:0},
          fillPatternScale: {x:scale, y:scale},
          fillPatternRepeat: "no-repeat",
          stroke: 'black',
          strokeWidth: 4,
          draggable: true
        });
        background.add(bgImage);

      }



      function initStage(image) {


        // calc scale
        var sourceAspectRatio = image.width/image.height;
        var targetAspectRatio = jigsawContainer.clientWidth / jigsawContainer.clientHeight;

        var wScale = jigsawContainer.clientWidth / image.width;
        var hScale = jigsawContainer.clientHeight / image.height;
        var scale;
        var stage;
        if (hScale > wScale) {
            stage = new Kinetic.Stage({
              container: 'jigsawContainer',
              width: jigsawContainer.clientWidth ,
              height: jigsawContainer.clientWidth * (image.height/image.width)
            });
            scale = wScale;
        } else {
            var scaledWidth = jigsawContainer.clientHeight * (image.width/image.height);
            stage = new Kinetic.Stage({
              container: 'jigsawContainer',
              width: scaledWidth ,
              height: jigsawContainer.clientHeight
            });
            scale = hScale;
        }

        var background = new Kinetic.Layer();
        var puzzleLayer = new Kinetic.Layer();

        drawBackground(background, image, scale);

        stage.add(background);

        stage.toDataURL({
            callback: function (dataURL){
                //outerStage.clear();

                var img = new Image();
                img.src = dataURL;
                img.onload = function () {
                    createPuzzlePieces(img,15, puzzleLayer, background);
                    setTimeout(
                        function(){
                            //background.hide();
                            background.opacity(0.1);
                            stage.draw();
                        }
                    ,1000)
                }
            }
        });
        stage.add(puzzleLayer);

      }



      function createPuzzlePieces(image, maxPieces, layer, backgroundLayer) {
        var area = image.width * image.height;
        var areaPiece = area / maxPieces;
        var pieceWidth = Math.floor(Math.sqrt(areaPiece)) + 1;

        var xPieces = Math.floor(image.width / pieceWidth);
        var yPieces = Math.floor(image.height / pieceWidth);

        var yPixel = Math.floor((image.height % pieceWidth ) / 2);

        var finishCount = xPieces * yPieces;
        var doneCount = 0;

        var deviation = Math.ceil(pieceWidth * DEVIATION_RATE);

        for (yIndex = 0; yIndex < yPieces; yIndex++) {
            var xPixel = Math.floor((image.width % pieceWidth ) / 2);
            for (xIndex = 0; xIndex < xPieces; xIndex++) {

                var puzzlePiece = new Kinetic.Rect({
                    x: Math.floor(Math.random() * (image.width - pieceWidth)),
                    y: Math.floor(Math.random() * (image.height - pieceWidth)),
                    brightness: 0,
                    blurRadius: 0,
                    width: pieceWidth,
                    height: pieceWidth,
                    fillPatternImage: image,
                    fillPatternOffset: {x:xPixel, y:yPixel},
                    stroke: 'black',
                    strokeWidth: 4,
                    draggable: true
                });

                puzzlePiece.lockedIn = false;

                puzzlePiece.xFit = xPixel;
                puzzlePiece.yFit = yPixel;
                puzzlePiece.cache();
                puzzlePiece.drawHitFromCache();
                puzzlePiece.filters([
                  Kinetic.Filters.Blur,
                  Kinetic.Filters.Brighten
                ]);

                // on dragstart move to top and redraw
                puzzlePiece.on('dragstart', function() {
                  this.moveToTop();
                  layer.draw();
                });

                // glow on mouseover
                puzzlePiece.on('mouseover touchstart', function() {
                    if (!this.lockedIn) {
                        this.brightness(0.15);
                        this.draw();
                        document.body.style.cursor = 'pointer';
                    }
                });
                // normal on mouseout
                puzzlePiece.on('mouseout touchend', function() {
                    if (!this.lockedIn) {
                        this.brightness(0);
                        this.draw();
                        document.body.style.cursor = 'default';
                    }
                });

                // on drag change pointer
                puzzlePiece.on('dragmove', function() {
                  document.body.style.cursor = 'pointer';
                });

                puzzlePiece.on('dragend', function() {
                  if(isNearFit(this, deviation)) {
                    this.setPosition({x:this.xFit, y:this.yFit});
                    this.brightness(0);
                    this.moveToBottom();
                    layer.draw();

                    // finished!
                    if(++doneCount == finishCount) {
                      backgroundLayer.moveToTop();
                      backgroundLayer.opacity(1);
                      backgroundLayer.draw();
                    }

                      this.setDraggable(false);
                      this.lockedIn = true;
                  }
                });

                layer.add(puzzlePiece);

                xPixel += pieceWidth;
            }
            yPixel += pieceWidth;
        }


      }

      loadImage('/image/{{image_key}}', initStage);


    </script>




    <div class='pictags'>
        Tags:
        {% for tag in pic.tags %}
        <a href='/search?q={{tag}}'>{{tag}}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <a href='/album/{{pic.album.key}}'>Back to album</a>




{% endblock %}